body{
    font-size: 16px;
    font-family: fantasy;
    color: black;
    background-color: honeydew;
    text-align: center;
}
.corpo{
    padding: 3px;
    margin-top: 100px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    background-color: whitesmoke;
    height: 210px;
    border-color: whitesmoke;
    border-style: groove;
    border-radius: 5px;
    font-size: 16px;
    font-family: fantasy;
    color: black;
}
.apresent{
    width: 100%;
    height: 56px;
    background-color: whitesmoke;
    font-size: 16px;
    font-family: fantasy;
    color: black;
    box-sizing: border-box;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}
.tela1{
    box-sizing: border-box;
    background-color: whitesmoke;
    border-color: rgb(211, 211, 211);
    width: 100%;
    height: 20px;
    font-size: 16px;
    font-family: fantasy;
    color: black;
    text-align: right;
    padding-right: 5px;
    border-top-style: ridge;
    margin-bottom: 1px;
}
.divnum1{
    border-top-style: ridge;
    border-color: rgb(211, 211, 211);
}
.num{
    border-style: double;
    border-color: white;
    margin-top:6px;
    width: 18.5%;
    text-align: center;
    background: whitesmoke;
    font-size: 16px;
    font-family: fantasy;
    color: black;
    border-radius: 5px;
}
.num:hover{
    background-color: lightgrey;
}
#C{
    width: 59%;
}